body {
  background-color: black;
  margin: 0;
  padding: 0;
  
}

.sidebar {
  float: left;
  width: 300px;
  height: 1200px;
  background-color: white;
  align-items: center;
  position: fixed;
  
}
.sidebar .frame {
  width: 80%;
  height: 500px;
  margin: 5%;
  border-style: double;
  padding: 5%;
  object-fit: contain;
}

.article {
  width: inherit;
  height: 1200px;
  align-items: center;
  margin-left: 300px;
  padding-top: 5%;
}

.article .frame {
  margin: 0 auto 5% auto; 
  width: 80%;
  height: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: aliceblue;
  border: 1px solid aliceblue;
  padding: 2% 5%;
}

.mobile-app .sidebar {
  width: 100%;
  height: 375px;
  align-items: center;
  float: left;
  position: relative;
  padding: 5% 0;
}

.mobile-app .sidebar .frame{
  height: 300px;
  margin:auto;
}

.mobile-app .article {
  width: 100%;
  height: 1200px;
  float: left;
  margin: auto;
  align-items: center;
  
}